pinch-zoom {
  width: 100%;
  height: 100%;

  .pdf-viewer {
    width: 100%;
    height: 100%;
  }
}

.background {
  --background: #bebebe;
}

.pdf-toolbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  position: absolute;
  z-index: 20;
  background-color: #d0d0d0ea;
  width: 100vw;
  height: 6vh;
  right: 50%;
  transform: translateX(50%);

  .text-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px;

    ion-input {
      height: 100%;
    }
  }

  .page-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    ion-select {
      width: fit-content;
    }
  }

  * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
