<app-header [backButton]="true">{{ file?.name }}</app-header>

<ion-content [fullscreen]="false" class="background">
  <div class="pdf-toolbar">
    <div></div>
    <div></div>
    <div class="page-navigation">
      <ion-select
        interface="popover"
        [selectedText]="currentPage + ' / ' + file?.totalPages"
        (ionChange)="changePage($event.target.value)"
      >
        @for (page of totalPages; track $index) {
        <ion-select-option [value]="page">{{ page }}</ion-select-option>
        }
      </ion-select>
    </div>
  </div>
  <pinch-zoom [double-tap]="false" backgroundColor="transparent">
    <pdf-viewer
      class="pdf-viewer"
      [src]="file?.path"
      [original-size]="true"
      [fit-to-page]="true"
      [show-all]="true"
      [render-text]="true"
      [render-text-mode]="2"
      [(page)]="currentPage"
    ></pdf-viewer>
  </pinch-zoom>
</ion-content>
